@model BoxProblem.Data.BoxInventory
@{
    ViewBag.Title = "Create";
}
<div class="o-font">
<h2>Add</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal cent auto-margin ">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "cent auto-margin o-font text-danger" })

        <div class="form-group our-input ov-pad cent auto-margin auto-margin">
            @Html.LabelFor(model => model.InventoryCount, htmlAttributes: new { @class = "cent auto-margin o-font control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InventoryCount, new { htmlAttributes = new { @class = " auto-margin o-font form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.InventoryCount, "", new { @class = "cent auto-margin o-font text-danger" })
            </div>
        </div>

        <div class="form-group our-input ov-pad cent auto-margin auto-margin">
            @Html.LabelFor(model => model.Weight, htmlAttributes: new { @class = "cent auto-margin o-font control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = " auto-margin o-font form-control", required="required" } })
                @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "cent auto-margin o-font text-danger" })
            </div>
        </div>

        <div class="form-group our-input ov-pad cent auto-margin auto-margin">
            @Html.LabelFor(model => model.Volume, htmlAttributes: new { @class = "cent auto-margin o-font control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Volume, new { htmlAttributes = new { @class = " auto-margin o-font form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Volume, "", new { @class = "cent auto-margin o-font text-danger" })
            </div>
        </div>

        <div class="form-group our-input ov-pad cent auto-margin auto-margin">
            @Html.LabelFor(model => model.CanHoldLiquid, htmlAttributes: new { @class = "cent auto-margin o-font control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CanHoldLiquid, new { htmlAttributes = new { @class = " auto-margin o-font form-control box-shad" } })
                @Html.ValidationMessageFor(model => model.CanHoldLiquid, "", new { @class = "cent auto-margin o-font text-danger" })
            </div>
        </div>

        <div class="form-group our-input ov-pad cent auto-margin auto-margin">
            @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "cent auto-margin o-font control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = " auto-margin o-font form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "cent auto-margin o-font text-danger" })
            </div>
        </div>

        <div class="form-group our-input ov-pad cent auto-margin auto-margin">
            <div class="col-md-offset-1 col-md-10">
                <input type="submit" value="Create" class="btn btn-default o-font" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
</div>