@model BoxProblem.Data.BoxInventory

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
    <hr />
<div class="cent">
    <dl class="dl-horizontal o-font">
        <dt class="sec-color ">@Html.DisplayNameFor(model => model.InventoryCount)</dt>
        <dd class="">@Html.DisplayFor(model => model.InventoryCount)</dd>

        <dt class="sec-color ">@Html.DisplayNameFor(model => model.Weight)</dt>
        <dd class="">@Html.DisplayFor(model => model.Weight)</dd>

        <dt class="sec-color ">@Html.DisplayNameFor(model => model.Volume)</dt>
        <dd class="">@Html.DisplayFor(model => model.Volume)</dd>

        <dt class="sec-color ">@Html.DisplayNameFor(model => model.CanHoldLiquid)</dt>
        <dd class="">@Html.DisplayFor(model => model.CanHoldLiquid)</dd>

        <dt class="sec-color ">@Html.DisplayNameFor(model => model.Cost)</dt>
        <dd class="">@Html.DisplayFor(model => model.Cost)</dd>
    </dl>
</div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color cent ">
            <input type="submit" value="Delete" class="btn btn-default o-font margin-top" />
        </div>
        <div class="cent">
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
        <script>document.onreadystatechange = function() {
                if (document.readyState == "complete") {
                    // document is ready. Do your stuff here
                    window.location = '#view';
                }
}</script>