@model BoxProblem.Data.BoxInventory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.InventoryCount)</dt>
        <dd class="o-font">@Html.DisplayFor(model => model.InventoryCount)</dd>

        <dt>@Html.DisplayNameFor(model => model.Weight)</dt>
        <dd class="o-font">@Html.DisplayFor(model => model.Weight)</dd>

        <dt>@Html.DisplayNameFor(model => model.Volume)</dt>
        <dd class="o-font">@Html.DisplayFor(model => model.Volume)</dd>

        <dt>@Html.DisplayNameFor(model => model.CanHoldLiquid)</dt>
        <dd class="o-font">@Html.DisplayFor(model => model.CanHoldLiquid)</dd>

        <dt>@Html.DisplayNameFor(model => model.Cost)</dt>
        <dd class="o-font">@Html.DisplayFor(model => model.Cost)</dd>
    </dl>
</div>
<div class="form-actions no-color cent ">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
</div>
<div class="cent">
    @Html.ActionLink("Back to List", "Index")
</div>
<script>document.onreadystatechange = function() {
        if (document.readyState == "complete") {
            // document is ready. Do your stuff here
            window.location = '#view';
        }
}</script>