@model IEnumerable<BoxProblem.Data.BoxInventory>
@{
    ViewBag.Title = "Index";
}
<h2>Inventory</h2>
<div class=" o-font cent">
    @Html.ActionLink("New Box", "Create")
</div>
<h3 class="o-font">Choose parameter to search by:</h3>
<div id="app">
    <form action="@Url.Action("Index")" method="post" class="cent">
        <span class="o-font txt-big"> Count: </span><input type="radio" v-on:click="numMethod" name="search" value="inventoryCount" />
        <br />
        <span class="o-font txt-big"> Cost: </span><input type="radio" v-on:click="numMethod" name="search" value="costBox" />
        <br />

        <span class="o-font txt-big"> Volume: </span> <input type="radio" v-on:click="numMethod" name="search" value="volumeBox" />
        <br />

        <span class="o-font txt-big"> Weight: </span><input type="radio" v-on:click="numMethod" name="search" value="weightBox" />
        <br />

        <span class="o-font txt-big"> Can Hold Liquid: </span> <input type="radio" v-on:click="boolMethod" name="search" id="boolean" value="liquidBox" />
        <br />

        <span class="o-font txt-big"> Type in a number: </span> <input type="number" step="0.01" v-if="show1" name="toSearch" />
        <br />

        <span class="o-font txt-big"> Check the box to search for boxes that can hold liquid: </span>  <input type="text" v-if="show2" name="toSearch" placeholder="true or false" />
        <br />


        <input type="submit" value="Search" class="btn o-font btn-default" />
    </form>
</div>
<table class="table table-striped cen margin-top">
    <tr class="tableHeader">
        <th>@Html.DisplayNameFor(model => model.InventoryCount)</th>
        <th>@Html.DisplayNameFor(model => model.Cost)</th>
        <th>@Html.DisplayNameFor(model => model.Volume)</th>
        <th>@Html.DisplayNameFor(model => model.Weight)</th>
        <th>@Html.DisplayNameFor(model => model.CanHoldLiquid)</th>
        <th></th>
    </tr>
    @foreach (var box in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => box.InventoryCount)</td>
            <td>@Html.DisplayFor(modelItem => box.Cost)</td>
            <td>@Html.DisplayFor(modelItem => box.Volume)</td>
            <td>@Html.DisplayFor(modelItem => box.Weight)</td>
            <td>@Html.DisplayFor(modelItem => box.CanHoldLiquid)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = box.Id }) |
                @Html.ActionLink("Details", "Details", new { id = box.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = box.Id })
            </td>
        </tr>
    }
</table>
<script src="https://unpkg.com/vue"></script>
<script>var app = new Vue({
        el: '#app',
        data: {
            show1: false,
            show2: false,
        },
        methods: {
            numMethod: function() {
                {
                    this.show1 = true;
                    this.show2 = false;
                }
            },
            boolMethod: function() {
                if (document.getElementById('boolean').checked) {
                    this.show2 = true;
                    this.show1 = false;
                }
            },

        }
})
document.onreadystatechange = function() {
        if (document.readyState == "complete") {
            // document is ready. Do your stuff here
            window.location = '#view';
        }
}</script>