@model IEnumerable<BoxProblem.Data.BoxInventory>
@{
    ViewBag.Title = "Index";
}
<h2>Home</h2>
@Html.ActionLink("Add", "Create")

<p>Choose parameter to search by:</p>

<div id="app">
    <form action="~/Home/Search" method="post">
        Inventory Count: <input type="radio" name="InventoryBox" />
        Cost: <input type="radio" name="CostBox" />
        Volume: <input type="radio" name="VolumeBox" />
        Weight: <input type="radio" name="WeightBox" />
        Can hold liquid: <input type="radio" name="LiquidBox" />
        Date Created: <input type="radio" name="CreatedBox" />

        <p></p>
        Search <input type="number" name="toSearch" />
    </form>
</div>



<table class="table">
    <tr class="tableHeader">
        <th>@Html.DisplayNameFor(model => model.InventoryCount)</th>
        <th>@Html.DisplayNameFor(model => model.Cost)</th>
        <th>@Html.DisplayNameFor(model => model.Volume)</th>
        <th>@Html.DisplayNameFor(model => model.Weight)</th>
        <th>@Html.DisplayNameFor(model => model.CanHoldLiquid)</th>
        <th><br /></th>
    </tr>
    @foreach (var box in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => box.InventoryCount)</td>
            <td>@Html.DisplayFor(modelItem => box.Cost)</td>
            <td>@Html.DisplayFor(modelItem => box.Volume)</td>
            <td>@Html.DisplayFor(modelItem => box.Weight)</td>
            <td>@Html.DisplayFor(modelItem => box.CanHoldLiquid)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = box.Id }) |
                @Html.ActionLink("Details", "Details", new { id = box.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = box.Id })
            </td>
        </tr>
    }
</table>