@model IEnumerable<BoxProblem.Data.BoxInventory>
@{
    ViewBag.Title = "Index";
}
<h2>Home</h2>
@Html.ActionLink("Add", "Create")
<p>Choose parameter to search by:</p>
<div id="app">
    <form action="@Url.Action("Index")" method="post">
        Inventory Count: <input type="radio" v-on:click="numMethod" name="search" value="inventoryCount" />
        <br />
        Cost: <input type="radio" v-on:click="numMethod" name="search" value="costBox" />
        <br />
        Volume: <input type="radio" v-on:click="numMethod" name="search" value="volumeBox" />
        <br />
        Weight: <input type="radio" v-on:click="numMethod" name="search" value="weightBox"/>
        <br />
        Can hold liquid: <input type="radio" v-on:click="boolMethod" name="search" id="boolean" value="liquidBox"/>
        <br />
        Date Created: <input type="radio" v-on:click="dateMethod" name="search" id="dateTime" value="dateBox"/>
        <br />
        Type in a number: <input type="number" step="0.01" v-if="show1" name="toSearch" />
        <br />
        Check the box to search for boxes that can hold liquid: <input type="radio" v-if="show2" name="toSearch" />
        <br />
        Type in a date and time: <input type="datetime-local" v-if="show3" name="toSearch" />
        <br />
        <input type="submit" value="Search" />
    </form>
</div>
<table class="table">
    <tr class="tableHeader">
        <th>@Html.DisplayNameFor(model => model.InventoryCount)</th>
        <th>@Html.DisplayNameFor(model => model.Cost)</th>
        <th>@Html.DisplayNameFor(model => model.Volume)</th>
        <th>@Html.DisplayNameFor(model => model.Weight)</th>
        <th>@Html.DisplayNameFor(model => model.CanHoldLiquid)</th>
        <th><br /></th>
    </tr>
    @foreach (var box in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => box.InventoryCount)</td>
            <td>@Html.DisplayFor(modelItem => box.Cost)</td>
            <td>@Html.DisplayFor(modelItem => box.Volume)</td>
            <td>@Html.DisplayFor(modelItem => box.Weight)</td>
            <td>@Html.DisplayFor(modelItem => box.CanHoldLiquid)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = box.Id }) |
                @Html.ActionLink("Details", "Details", new { id = box.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = box.Id })
            </td>
        </tr>
    }
</table>
<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            show1: false,
            show2: false,
            show3: false
        },
        methods: {
            numMethod: function () {
                {
                    this.show1 = true;
                    this.show2 = false;
                    this.show3 = false;
                }
            },
            boolMethod: function () {
                if (document.getElementById('boolean').checked) {
                    this.show2 = true;
                    this.show1 = false;
                    this.show3 = false;
                }
            },
            dateMethod: function () {
                if (document.getElementById('dateTime').checked) {
                    this.show3 = true;
                    this.show2 = false;
                    this.show1 = false;
                }
            }

        }
    })
</script>