@using BoxProblem.Data
@model List<BoxInventory>
@{
    ViewData["Title"] = "Home Page";
}
<h2>Home</h2>
<button onclick="location.href='@Url.Action("Add", "Home")'">Add</button>
<button onclick="location.href='@Url.Action("Edit", "Home")'">Edit</button>


<p>Inventory</p>
<div>
    <table>
        <tr class="tableHeader">
            <th><span class="sortObj">inv</span> </th>
            <th><span class="sortObj">cost</span></th>
            <th><span class="sortObj">volume</span></th>
            <th><span class="sortObj">weight</span></th>
            <th><span class="sortObj">liq</span></th>
            <th><br /></th>
        </tr>

        @foreach (BoxInventory aaa in Model)
        {
            <tr>
                <th>@aaa.InventoryCount</th>
                <th>@aaa.Cost</th>
                <th>@aaa.Volume</th>
                <th>@aaa.Weight</th>
                <th>@aaa.CanHoldLiquid</th>
            </tr>
        } }
    </table>

</div>
