@model IEnumerable<BoxProblem.Data.BoxInventory>
@{
    ViewBag.Title = "Index";
}
<h2>Home</h2>
<button onclick="location.href='@Url.Action("Create", "Home")'">Add</button>
<button onclick="location.href='@Url.Action("Edit", "Home")'">Edit</button>


<p>Inventory</p>
<div>
    <table>
        <tr class="tableHeader">
            <th>@Html.DisplayNameFor(model => model.InventoryCount)</th>
            <th>@Html.DisplayNameFor(model => model.Cost)</th>
            <th>@Html.DisplayNameFor(model => model.Volume)</th>
            <th>@Html.DisplayNameFor(model => model.Weight)</th>
            <th>@Html.DisplayNameFor(model => model.CanHoldLiquid)</th>
            <th><br /></th>
        </tr>

        @foreach (var box in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => box.InventoryCount)</td>
                <td>@Html.DisplayFor(modelItem => box.Cost)</td>
                <td>@Html.DisplayFor(modelItem => box.Volume)</td>
                <td>@Html.DisplayFor(modelItem => box.Weight)</td>
                <td>@Html.DisplayFor(modelItem => box.CanHoldLiquid)</td>
            </tr>
        } 
    </table>

</div>
