@model IEnumerable<BoxProblem.Data.BoxInventory>
@{
    ViewBag.Title = "Index";
}
<h2>Home</h2>
@Html.ActionLink("Add", "Create")

<p>Choose parameter to search by:</p>
<div>
    <form action="~/Home/Search" method="post">
        Inventory Count: <input type="radio" name="search" />
        Cost: <input type="radio" v-on:input="numMethod" name="search" />
        Volume: <input type="radio" v-on:input="numMethod" name="search" />
        Weight: <input type="radio" v-on:input="numMethod" name="search" />
        Can hold liquid: <input type="radio" v-on:input="boolMethod" name="search" />
        Date Created: <input type="radio" v-on:input="dateMethod" name="search" />
        <br />
        <input type="number" v-if="show1" />
        <input type="radio" v-if="show2" />
        <input type="datetime-local" v-if="show3" />
        Search <input type="number" name="toSearch" />
    </form>
</div>
<table class="table">
    <tr class="tableHeader">
        <th>@Html.DisplayNameFor(model => model.InventoryCount)</th>
        <th>@Html.DisplayNameFor(model => model.Cost)</th>
        <th>@Html.DisplayNameFor(model => model.Volume)</th>
        <th>@Html.DisplayNameFor(model => model.Weight)</th>
        <th>@Html.DisplayNameFor(model => model.CanHoldLiquid)</th>
        <th><br /></th>
    </tr>
    @foreach (var box in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => box.InventoryCount)</td>
            <td>@Html.DisplayFor(modelItem => box.Cost)</td>
            <td>@Html.DisplayFor(modelItem => box.Volume)</td>
            <td>@Html.DisplayFor(modelItem => box.Weight)</td>
            <td>@Html.DisplayFor(modelItem => box.CanHoldLiquid)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = box.Id }) |
                @Html.ActionLink("Details", "Details", new { id = box.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = box.Id })
            </td>
        </tr>
    }
</table>
<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            show1: false,
            show2: false,
            show3: false
        },
        methods: {
            numMethod: function () {
                this.show1 = true;
            },
            boolMethod: function () {
                this.show2 = true;
            },
            dateMethod: function () {
                this.show3 = true;
            }

        }
    })
</script>